{% extends "blog/base.html" %}
{% block content %}
 
<!-- About slider  -->
<!-- <div class="container mt-5 pt-3 animated fadeIn" style="margin: 0 auto;">
    <img src="../../../media/about_pics/Japanese-food-Cooking-wallpaper-2560x1600.jpg" alt="japanese sushi" style="height: 500px; width: 100%;">
    </div>

</div> -->
<!-- end About carousel slider -->
<div class="container-fluid">
    <img class="img-responsive" src="../../../media/about_pics/wrapper_about.jpg" alt="clean kitchen with a table">
<div style="margin-top: 100px;">  
        <div class="flex-center flex-column">  
          <h1 class="animated heartBeat mb-4">O Nama <i class="fa fa-heart red-text"></i></h1>
        </div>  
</div>
</div>

<!-- 3 musketara -->
<div class="container-fluid w-75 mt-5">
    <div class="row">

    <div class="col-lg-12 col-xl-6 cold-md-6 col-sm-12 wow fadeInLeft">
      <div class="view overlay rounded z-depth-1-half  mb-4">
        <img class="img-fluid " src="../../../media/profile_pics/flouregg.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <div class="col-lg-12 col-xl-6 col-md-6 col-sm-12">
      <h2 class="font-weight-bold"><strong>Stanko Kukic Cane</strong></h2>
      <p class="text-center"><small>Šef kuhinje</small></p>
      <p class="dark-grey-text mt-5">Moje ime je Stanko. U kuhinji me svi zovu Cane. Svoju karijeru kao kuvara počeo sam još pre 12 godina u restoranu kasina sa nepunih 18 godina.
        Od tada pa do danas promenio sam nekoliko restorana, stekao mnogo iskustva u poslu, koje mogu ljudima da prenesem.
        Marljiv rad, predanost poslu, i kada radite ono š   to volite neizbežno vas vodi na sam vrh, u bilo čemu, a u mom
        konkretnom slučaju do šefa kuhinje. Istraživanje, praksa i čitanje knjiga najboljih svetskih kuvara, doprinose 
        mnogo toga pozivnog u vašu kuhinju.</p>
      <p><a class="font-weight-bold">{{ post.author }}</a> {{ post.date_posted|date:"F d, Y" }}</p>
    </div>
    </div>

<hr class="mt-5 pt-5">

    <div class="row" style="margin-top: 150px;">
        <div class="col-lg-7 col-xl-6 col-md-6">
          <h2 class="font-weight-bold"><strong>Ćomi</strong></h2>
          <p class="text-center"><small>Šef kuhinje</small></p>
          <p class="dark-grey-text mt-5">Moje ime je Stanko. U kuhinji me svi zovu Cane. Svoju karijeru kao kuvara počeo sam još pre 12 godina u restoranu kasina sa nepunih 18 godina.
            Od tada pa do danas promenio sam nekoliko restorana, stekao mnogo iskustva u poslu, koje mogu ljudima da prenesem.
            Marljiv rad, predanost poslu, i kada radite ono š   to volite neizbežno vas vodi na sam vrh, u bilo čemu, a u mom
            konkretnom slučaju do šefa kuhinje. Istraživanje, praksa i čitanje knjiga najboljih svetskih kuvara, doprinose 
            mnogo toga pozivnog u vašu kuhinju.</p>
          <p><a class="font-weight-bold">{{ post.author }}</a> {{ post.date_posted|date:"F d, Y" }}</p>
        </div>
        <div class="col-lg-5 col-xl-6 cold-md-6 wow fadeInRight">
            <div class="view overlay rounded z-depth-1-half  mb-4">
              <img class="img-fluid wow " src="../../../media/profile_pics/flouregg.jpg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
    </div>
    <hr class="mt-5 pt-5">
    <div class="row" style="margin-top: 150px;">

        <div class="col-lg-5 col-xl-6 cold-md-6 wow fadeInLeft">
          <div class="view overlay rounded z-depth-1-half  mb-4">
            <img class="img-fluid" src="../../../media/profile_pics/flouregg.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <div class="col-lg-7 col-xl-6 col-md-6">
          <h2 class="font-weight-bold"><strong>Bane</strong></h2>
          <p class="text-center"><small>Šef kuhinje</small></p>
          <p class="dark-grey-text mt-5">Moje ime je Stanko. U kuhinji me svi zovu Cane. Svoju karijeru kao kuvara počeo sam još pre 12 godina u restoranu kasina sa nepunih 18 godina.
            Od tada pa do danas promenio sam nekoliko restorana, stekao mnogo iskustva u poslu, koje mogu ljudima da prenesem.
            Marljiv rad, predanost poslu, i kada radite ono š   to volite neizbežno vas vodi na sam vrh, u bilo čemu, a u mom
            konkretnom slučaju do šefa kuhinje. Istraživanje, praksa i čitanje knjiga najboljih svetskih kuvara, doprinose 
            mnogo toga pozivnog u vašu kuhinju.</p>
          <p><a class="font-weight-bold">{{ post.author }}</a> {{ post.date_posted|date:"F d, Y" }}</p>
        </div>
        
        </div>
</div>
<!-- end 3 musketara -->
<hr class="line-split mt-5">
<!-- About me  -->
<div id="about-me">
        <div class="container">
           <h2 class="display-3 text-center animated delay-1s fadeInLeft">Moj put do šefa kuhinje</h1>
           <p class="text-center">Moje ime je Stanko. U kuhinji me svi zovu Cane. Svoju karijeru kao kuvara počeo sam još pre 12 godina u restoranu kasina sa nepunih 18 godina.
            Od tada pa do danas promenio sam nekoliko restorana, stekao mnogo iskustva u poslu, koje mogu ljudima da prenesem.
            Marljiv rad, predanost poslu, i kada radite ono š   to volite neizbežno vas vodi na sam vrh, u bilo čemu, a u mom
            konkretnom slučaju do šefa kuhinje. Istraživanje, praksa i čitanje knjiga najboljih svetskih kuvara, doprinose 
            mnogo toga pozivnog u vašu kuhinju. Bitna je istrajnost kao i u svemu. Ne odustati!
           </p>
           <div class="container cont-inside" >
                <h2 class="display-3 mb-5" >Partneri (Firme u kojima sam radio)</h2>
                 <section class="customer-logos slider">
                    <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
                 </section>
          </div>
    
           <hr class="mb-5 mt-5">
           <h2 class="display-3 text-center animated delay-2s fadeInRight">Odnos u kuhinji</h1>
           <p class="text-center">Da bi vladala harmonija u kuhinji i bilo sve u najboljem redu, odnos sa kolegama je od veoma važnog
               značaja. Kao šef kuhinje vi tu nastupate. Odlični odnosi sa ostalim kuvarima ili pomoćnicima kuvara 
               dovode do toga da se hrana brže izbacuje, kvalitetnije je spremljena a kuhinja posle predaje smene 
               čista kao da se u njoj ništa nije ni spremalo.
           </p>     
        </div>
</div>

    <!-- SliDER -->
<hr class="w-75 mb-5 mt-5">
<div class="container text-center">
  <div class="row">
      <div class="col-xs-6 col-sm-3 col-xl-4">
          <div class="fall-item fall-effect">
                    <img src="../../../media/about_pics/musli.jpg"/>
                    <div class="mask">
                        <h2 style="font-family: AURORA;">Musli</h2>
                        <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
          <h4 class="text-center pt-1">Musli</h4>
      </div>

    <div class="col-xs-6 col-sm-3 col-xl-4">
        <div class="fall-item fall-effect">
                  <img src="../../../media/about_pics/musli.jpg"/>
                  <div class="mask">
                      <h2 style="font-family: AURORA;">Musli</h2>
                      <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                      <a href="#" class="btn btn-default">Read More</a>
                  </div>
              </div>
        <h4 class="text-center pt-1">Musli</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-xl-4">
        <div class="fall-item fall-effect">
                  <img src="../../../media/about_pics/musli.jpg"/>
                  <div class="mask">
                      <h2 style="font-family: AURORA;">Musli</h2>
                      <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                      <a href="#" class="btn btn-default">Read More</a>
                  </div>
              </div>
        <h4 class="text-center pt-1">Musli</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-xl-4">
        <div class="fall-item fall-effect">
                  <img src="../../../media/about_pics/musli.jpg"/>
                  <div class="mask">
                      <h2 style="font-family: AURORA;">Musli</h2>
                      <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                      <a href="#" class="btn btn-default">Read More</a>
                  </div>
              </div>
        <h4 class="text-center pt-1">Musli</h4>
    </div>
    <div class="col-xs-6 col-sm-3 col-xl-4">
        <div class="fall-item fall-effect">
                  <img src="../../../media/about_pics/musli.jpg"/>
                  <div class="mask">
                      <h2 style="font-family: AURORA;">Musli</h2>
                      <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                      <a href="#" class="btn btn-default">Read More</a>
                  </div>
              </div>
        <h4 class="text-center pt-1">Musli</h4>
    </div>
    <div class="col-xs-6 col-sm-3 col-xl-4">
        <div class="fall-item fall-effect">
                  <img src="../../../media/about_pics/musli.jpg"/>
                  <div class="mask">
                      <h2 style="font-family: AURORA;">Musli</h2>
                      <p style="font-size: 14px;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                      <a href="#" class="btn btn-default">Read More</a>
                  </div>
              </div>
        <h4 class="text-center pt-1">Musli</h4>
    </div>
  </div>
</div>

{% endblock content %}