{% extends "blog/base.html" %} {% block content %}

<!-- About slider  -->

<!-- end About carousel slider -->
<div
  class="container-fluid  text-center wrapper-about"
  style="padding-top: 120px;"
>
  <h2 class="naslov">O Nama</h2>
  <h3 class="para">
    TRI ŠEFA KUHINJE SA VIŠEDECENISKIM ISKUSTVOM STOJE VAM NA USLUZI
  </h3>
</div>

<div class="container-fluid w-75 mt-5">
  <div class="vl">
    <h1 style="font-size: 40px;margin-left:15px; color: #333;">3 Musketara</h1>
  </div>
  <p class="mt-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae
    fermentum enim, ut ultrices sapien. Quisque vel nisl in ipsum interdum
    pharetra. Ut varius est ac arcu tempor pharetra. Mauris dolor lacus, semper
    id nisi non, auctor feugiat ante. Phasellus fermentum mi ac magna ornare, a
    aliquet sem efficitur. Donec tristique congue ligula malesuada malesuada.
  </p>

  <p>
    Mauris sit amet augue quis nibh accumsan varius. Vestibulum lacus nibh,
    facilisis non laoreet a, fringilla in erat. Vestibulum venenatis at nunc a
    interdum. Suspendisse dapibus erat enim. Aenean vel consequat purus, non
    condimentum dui.
  </p>
  <p>
    Mauris sit amet augue quis nibh accumsan varius. Vestibulum lacus nibh,
    facilisis non laoreet a, fringilla in erat. Vestibulum venenatis at nunc a
    interdum. Suspendisse dapibus erat enim. Aenean vel consequat purus, non
    condimentum dui.
  </p>
</div>
<hr class="line-split" style="margin-top: 90px;" />
<!-- 3 musketara -->
<div class="container-fluid w-75 pt-5">
  <div class="row about_us">
    <div
      class="col-lg-12 col-xl-5 col-md-12 col-sm-12 wow fadeInLeft pt-5 w-75"
    >
      <div class="text-center">
        <img
          src="../../../media/home_pictures/circle2.png"
          class="circle1 rotating"
          alt="liquid circle, png format"
        />
        <img
          src="../../../media/profile_pics/viber_image.jpg"
          class="rounded-circle animated fadeIn"
          alt="Stanko Kukic Cane"
          style="width:330px;height:330px;"
        />
      </div>
    </div>
    <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 pt-4">
      <h2 class="font-weight-bold" style="color:#92c060;">
        <strong>Stanko Kukic Cane</strong>
      </h2>
      <p class="text-center"><small>Šef kuhinje</small></p>
      <p class="dark-grey-text mt-2 ml-4">Karakteristike i iskustvo :</p>
      <ul>
        <li>12 godina iskustva rada u kuhinji</li>
        <li>Ekspert za Italijasnku, Japansku(suši) i Domaću kuhinju</li>
        <li>Rad u preko 15 restorana</li>
        <li>Poznavanje najsitnijih detalja u vezi sastojaka</li>
        <li>Marljiv rad i predanost poslu</li>
      </ul>
    </div>
  </div>

  <div class="row about_us">
    <div class="col-lg-12 col-xl-5 col-md-12 col-sm-12 pt-4">
      <h2 class="font-weight-bold" style="color:#92c060;">
        <strong>Stanko Kukic Cane</strong>
      </h2>
      <p class="text-center"><small>Šef kuhinje</small></p>
      <p class="dark-grey-text mt-2 ml-4">Karakteristike i iskustvo :</p>
      <ul>
        <li>12 godina iskustva rada u kuhinji</li>
        <li>Ekspert za Italijasnku, Japansku(suši) i Domaću kuhinju</li>
        <li>Rad u preko 15 restorana</li>
        <li>Poznavanje najsitnijih detalja u vezi sastojaka</li>
        <li>Marljiv rad i predanost poslu</li>
      </ul>
    </div>
    <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 wow fadeInLeft pt-5">
      <div class="text-center">
        <img
          src="../../../media/home_pictures/circle2.png"
          class="circle1 rotating"
          alt="liquid circle, png format"
        />
        <img
          src="../../../media/profile_pics/viber_image.jpg"
          class="rounded-circle animated fadeIn"
          alt="Stanko Kukic Cane"
          style="width:330px;height:330px;"
        />
      </div>
    </div>
  </div>

  <div class="row about_us">
    <div class="col-lg-12 col-xl-5 col-md-12 col-sm-12 wow fadeInLeft pt-5">
      <div class="text-center">
        <img
          src="../../../media/home_pictures/circle2.png"
          class="circle1 rotating"
          alt="liquid circle, png format"
        />
        <img
          src="../../../media/profile_pics/viber_image.jpg"
          class="rounded-circle animated fadeIn"
          alt="Stanko Kukic Cane"
          style="width:330px;height:330px;"
        />
      </div>
    </div>
    <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 pt-4">
      <h2 class="font-weight-bold" style="color:#92c060;">
        <strong>Stanko Kukic Cane</strong>
      </h2>
      <p class="text-center"><small>Šef kuhinje</small></p>
      <p class="dark-grey-text mt-2 ml-4">Karakteristike i iskustvo :</p>
      <ul>
        <li>12 godina iskustva rada u kuhinji</li>
        <li>Ekspert za Italijasnku, Japansku(suši) i Domaću kuhinju</li>
        <li>Rad u preko 15 restorana</li>
        <li>Poznavanje najsitnijih detalja u vezi sastojaka</li>
        <li>Marljiv rad i predanost poslu</li>
      </ul>
    </div>
  </div>
</div>
<!-- end 3 musketara -->
<hr class="line-split mb-5" />
<!-- About me  -->
<div id="about-me">
  <div class="container">
    <div class="container cont-inside">
      <h2 class="display-3 pb-5 pt-5" style="color:#333;">
        Partneri (Firme u kojima sam radio)
      </h2>
      <section class="customer-logos slider">
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"
          />
        </div>
        <div class="slide">
          <img
            src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"
          />
        </div>
      </section>
    </div>
  </div>
</div>

<!-- SliDER -->

<div class="container-fluid w-75 text-center mt-5 pt-5">
  <h1 class="mb-5" style="color:#333;">Naši radovi</h1>
  <div class="row mb-5">
    <div class="col-xs-6 col-sm-3 col-xl-4 mb-5">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-xl-4 mb-5">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-xl-4">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-xl-4">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>
    <div class="col-xs-6 col-sm-3 col-xl-4">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>
    <div class="col-xs-6 col-sm-3 col-xl-4">
      <div class="fall-item fall-effect">
        <img src="../../../media/about_pics/musli.jpg" />
        <div class="mask">
          <h2 style="font-family: AURORA;">Musli</h2>
          <p style="font-size: 14px;">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </p>
          <a href="#" class="btn btn-default">Read More</a>
        </div>
      </div>
      <h4 class="text-center pt-1">Musli</h4>
    </div>
  </div>
</div>

{% endblock content %}
