{% extends "blog/base.html" %} {% block content %}

<div
  class="container-fluid  text-center wrapper-recipes"
  style="padding-top: 120px;"
>
  <h2 class="naslov">PopUp Kuvari</h2>
  <h3>Svi naši recepti na jednom mestu - Ukusna hrana koja ce Vas ODUŠEVITI</h3>
</div>

<div class="container">
  <h2 class="text-center mt-5" style="color:#333;">
    Pravljenje novih recepata
  </h2>
  <h3 class="text-center pb-4" style="color:#333;">
    Preuzmite recept ili zatrazite sasvim Novi!!!
  </h3>
  <p class="text-center" style="color:#333;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo magna,
    tincidunt non sollicitudin in, elementum at arcu. Donec vel mauris vel magna
    imperdiet ullamcorper. Cras molestie massa id condimentum hendrerit. Donec
    vel odio eget erat auctor pulvinar. Integer luctus aliquet velit, eu
    vulputate nulla. Nulla iaculis arcu sed sapien scelerisque, vitae aliquam
    dui cursus. Nulla vel viverra erat. Sed ex dui, mattis fermentum iaculis in,
    mattis sit amet turpis.
  </p>
</div>

{% endblock content %}
